* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  overflow: hidden;
}

.navbar {
  position: fixed;
  opacity: 75%;
  box-shadow: 4px 0 20px rgb(244, 164, 255);
  z-index: 1;
  width: 100vw;
  padding: 0;
}

.nav-link {
  color: white;
  font-size: 2em;
  opacity: 100%;
  margin: 20px;
}

#navbarNavAltMarkup {
  margin-left: 50px;

}

span.navbar-toggler-icon {
  color: white;

}

.container-fluid {
  margin-left: 20px;
}

.main{
  width: 100vw;
  margin: 0;
  padding: 0;
  

}
.sat{
  position: absolute;
  right: 2vw;
  top: 40vh;


}

.ml15 {
  width: 100vw;
  position: absolute;
  top: 50%;
  text-align: center;
  margin: 0 auto;
  font-weight: 800;
  font-size: 5em;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  color: white;


}

.ml15 .word {
  display: inline-block;
  line-height: 1em;

}

div#essai {
  width: 50vh;
  position: absolute;
  top: 110px;


}
/* grid---------------------------------------------------------------------------------------------*/
/*.first { grid-area: 1 / 1 / 2 / 2;
}

.div2 { grid-area: 1 / 2 / 2 / 3;
  width: 100%;
  
 }
.second { grid-area: 2 / 1 / 3 / 2; 
}

.div4 { grid-area: 2 / 2 / 3 / 3; 
  width: 100%;
}

.third { grid-area: 3 / 1 / 4 / 2;
 }
.div6 { grid-area: 3 / 2 / 4 / 3; 
  width: 100%;}

.fourth { grid-area: 4 / 1 / 5 / 2; 
}
.div8 { grid-area: 4 / 2 / 5 / 3;
  width: 100%; }

.fifth { grid-area: 5 / 1 / 6 / 2; 
}
.div10 { grid-area: 5 / 2 / 6 / 3;
  width: 100%; }

.sixth { grid-area: 6 / 1 / 7 / 2;
 }

 .div12 { grid-area: 6 / 2 / 7 / 3;
  width: 50%; }*/


img.tof {
  min-width: 80px;
  max-width:180px;
  float: left;
  height: aspect-ration 1/1;
  border: 2px solid rgb(255, 255, 255);
}
.row.row-cols-2{
  width: 100%;
 
  
}
.col{
 width: fit-content;
 margin-bottom: 20px;
 height: 100%;



}


.contenu {
width:30vw;
text-align: left;
 color: white;
 font-size: 1.2em;
 padding-left: 10px;
 

}
.container.text-center{
  width: 50vw;
  
}

@keyframes sat{
  0%{
    transform: translate(0px, 0px);
    animation-timing-function:ease-in-out;
  }
  50%{
    transform: translate( 200px, 200px);
    animation-timing-function:ease-in-out;
  }
   100%{
    transform: translate( 0px, 0px );
    animation-timing-function:ease-in-out;
   }
   
}

@keyframes transition {
  0% {
    margin-left: 0;
    opacity: 0;
  }

  100% {
    margin-left: 0;
    opacity: 1;
  }
}

div#essai {
  opacity: 0;
  animation: transition 3s ease-in-out 4s forwards;
  
}

footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  text-align: center;

}

footer p {
  font-size: 1.2em;
  color: white;
}

@keyframes sat{
  0%{
    animation: translate(0px, 0px);
    animation-timing-function:ease-in-out;
  }
  50%{
    animation: translate( 20px, 20px);
    animation-timing-function:ease-in-out;
  }
   100%{
    animation: translate( 0px, 0px );
    animation-timing-function:ease-in-out;
   }
   
}
@media screen and (max-width: 400px){
  .astro{width: 50px;
   height: aspect-ratio 1/1;
 }
 }
@media screen and (max-width: 800px){
.astro {
  width: 200px;
  height: aspect-ratio 1/1;
}
}
  

@