* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  overflow: hidden;
  font-family: orbitron, sans-serif;
  font-size: 0.8em;
}
.logo{
  width: 60px;
  height: aspect-ratio 1/1;
 }

.navbar {
  position: fixed;
  opacity: 75%;
  box-shadow: 4px 0 20px rgb(244, 164, 255);
  z-index: 1;
  width: 100vw;
  padding: 0;
}

.navbar-toggler-icon{
  background-color: white;
}
.nav-link {
  color: white;
  font-size: 1.5em;
  opacity: 100%;
  
}

#navbarNavAltMarkup {
  margin-left: 50px;
}


.container-fluid {
  margin-left: 30px;
}

.main{
  width: 100vw;
  margin: 0;
  padding: 0;
  

}
.sat{
  position: absolute;
  right: 2vw;
  top: 40vh;


}

.ml15 {
  width: 100vw;
  position: absolute;
  top: 50%;
  text-align: center;
  margin: 0 auto;
  font-weight: 800;
  font-size: 5em;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  color: white;


}

.ml15 .word {
  display: inline-block;
  line-height: 1em;

}

div#essai {
  width: 50vh;
  position: absolute;
  top: 80px;

}


img.tof {
  min-width: 50%;
  max-width:88%;
  float: left;
  height: aspect-ration 1/1;
  border: 2px solid rgb(255, 255, 255);
}

img.transform{
  width:100%;
  height: aspect-ratio 1/1;
}




table{
  width: 100%;
  opacity: 0;
  animation: transition 3s ease-in-out 4s forwards;
}
tr{
  width: 100%;
  
}

td{ width:50%;
  background-color: rgb(119, 119, 119, 0.3);
  color: white;
  font-size: 1.5em;
  
  
}

@keyframes transform{
  0%{
    transform: translate(0px, 0px);
    animation-timing-function:ease-in-out;
  }
  50%{
    transform: translate( 200px, 200px);
    animation-timing-function:ease-in-out;
  }
   100%{
    transform: translate( 0px, 0px );
    animation-timing-function:ease-in-out;
   }
   
}

@keyframes transition{
  0% {
    margin-left: 0;
    opacity: 0;
  }

  100% {
    margin-left: 0;
    opacity: 1;
  }
}



footer {
  position: absolute;
  background-color: black;
  opacity: 0.5;
  width: 100%;
  bottom: 0;
  text-align: center;

}

footer p {
  
  font-size: 1.2em;
  color: white;
  margin-bottom: 0;
}

@keyframes sat{
  0%{
    animation: translate(0px, 0px);
    animation-timing-function:ease-in-out;
  }
  50%{
    animation: translate( 100px, 100px);
    animation-timing-function:ease-in-out;
  }
   100%{
    animation: translate( 0px, 0px );
    animation-timing-function:ease-in-out;
   }
   
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .ml15 {
    font-size: 1em;
  
}
tr{
  width: 100vw;
  
}
td{ width:50%;
  background-color: rgb(119, 119, 119, 0.3);
  color: white;
  font-size: 0.8em;
  box-sizing: border-box;

}
td.text{
  padding: 5px;
}
table{
  width:80%;}

img.tof {
  min-width: 50%;
  width:fit-content;
  float: left;
  height: aspect-ration 1/1;
  border: 2px solid rgb(255, 255, 255);
}
}
#imgApi{
  width:200px;
  height: 200px;
  border: 23px solid red;
}